.slide-root {
    display: grid;
    gap: 12px;
    grid-template:
        "title         title        " auto
        "code          ui           " minmax(0, 2fr)
        "visualization visualization" minmax(0, 3fr)
        / minmax(0, 3fr) minmax(0, 2fr);
}

    .slide-root .title {
        grid-area: title;
    }

    .slide-root .code {
        grid-area: code;
    }

    .slide-root .ui {
        grid-area: ui;
    }

    .slide-root .visualization {
        grid-area: visualization;
        display: grid;
        grid-template-rows: minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr);
    }
