<ContentSlide Title="Reactive Programming – Examples">
    <p>
        <b>Excel</b>
        <ul>
            <li>Cells contain either fixed values or formulas</li>
            <li>Excel tracks dependencies between cells</li>
            <li>Formulas are automatically re-evaluated in the correct order when cell values change</li>
        </ul>

        <img src="/img/slides/A3_Excel.png" />
    </p>
</ContentSlide>