<ContentSlide Title="Reactive Programming – Examples">
    <p>
        <b>Svelte</b>
        <ul>
            <li>Frontend framework like Angular, React, ...</li>
            <li>Svelte compiler analyzes data dependencies in JS code</li>
            <li>At runtime, that knowledge is used to efficiently update parts of the UI</li>
        </ul>

        <iframe src="https://svelte.dev/tutorial/reactive-declarations" width="1100" height="500" style="border: 2px solid black;"></iframe>
    </p>
</ContentSlide>