<TitleSlide>
    <h1>Hands-On Time! 👨‍💻</h1>
    <br />
    <h3>Get the RxPlayground repo from GitHub and start hacking</h3>
    <h3><a href="https://github.com/SvenEV/RxPlayground">https://github.com/SvenEV/RxPlayground</a></h3>
</TitleSlide>