@implements IDisposable

<div class="rxp-canvas">
    <GraphView @ref="graphView">
        @foreach (var node in state.Graph.Nodes)
        {
            <GraphNode Id="node.Key" @key="node.Key"
                   Position="node.Value.Value.Position"
                   Size="node.Value.Value.Options.Size">@node.Value.Value</GraphNode>
        }

        @foreach (var edge in state.Graph.Edges)
        {
            @switch (edge.Value.Value)
            {
                case DataFlowEdge.StaticEdge staticEdge:
                    <GraphEdge Id="edge.Key" @key="edge.Key" Source="edge.Value.Source" Target="edge.Value.Target" Color="#eee" Width="25" />
                    break;

                case DataFlowEdge.SubscriptionEdge subscriptionEdge:
                    <GraphEdge Id="edge.Key" @key="edge.Key" Source="edge.Value.Source" Target="edge.Value.Target" ZIndex="1" Offset="((DataFlowEdgeId.SubscriptionEdgeId)edge.Key).VisualOffset">
                        @foreach (var emission in subscriptionEdge.Emissions)
                        {
                            <GraphEdgeToken Position="(float)((state.Timestamp - emission.Timestamp).TotalSeconds / RxInteractiveSession.TimelineLength.TotalSeconds)">
                                @switch (emission.Emission)
                                {
                                    case ObservableEmission.Next next:
                                        @(next.Value?.ToString() ?? "null")
                                        break;

                                    case ObservableEmission.Error error:
                                        @:💥
                                        break;

                                    case ObservableEmission.Completed:
                                        @:🔷
                                        break;
                                }
                            </GraphEdgeToken>
                        }
                    </GraphEdge>
                    break;
            }
        }
    </GraphView>

    <label style="place-self: end start; margin-left: 4px; font-size: small;">
        <EditForm Model="this">
            <InputCheckbox @bind-Value="isZoomToFitEnabled" />
            Zoom to Fit
        </EditForm>
    </label>
</div>

@code {
    private GraphView? graphView;
    private IDisposable? sessionSubscription;
    private RxInteractiveSessionState state = RxInteractiveSessionState.Empty;
    private bool isZoomToFitEnabled = true;

    [Parameter]
    public RxInteractiveSession? Session { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        var oldSession = Session;

        await base.SetParametersAsync(parameters);

        if (Session != oldSession)
        {
            sessionSubscription?.Dispose();
            sessionSubscription = Session?.Subscribe(async newState =>
            {
                state = newState;
                if (graphView is not null && isZoomToFitEnabled)
                    await graphView.ZoomToFitAsync();
                await InvokeAsync(StateHasChanged);
            });
        }
    }

    public void Dispose() => sessionSubscription?.Dispose();
}