@page "/"
@using System.Reactive.Subjects
@using System.Reactive.Linq
@inject ILogger<RxInteractiveSession> Logger

<h1>RxPlayground</h1>

<RxpCanvas Session="session" />

@code {
    private RxInteractiveSession? session;

    class SystemTimeProvider : ITimeProvider
    {
        public static readonly SystemTimeProvider Instance = new();
        private SystemTimeProvider() { }
        public DateTimeOffset GetTimestamp() => DateTimeOffset.Now;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        session = new(SystemTimeProvider.Instance, Logger);

        var subject = new Subject<string>();

        var subjectObs = subject.Inspect(session);
        var timerObs = Observable.Timer(TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1)).Inspect(session);

        var combined = Observable
            .CombineLatest(subjectObs, timerObs, (str, number) => $"{str}{number}")
            .Inspect(session)
            .Select(str => str + " :)")
            .Inspect(session);

        combined.Subscribe(session);

        Task.Run(async () =>
        {
            await Task.Delay(3000);
            subject.OnNext("X");
        });
    }
}