@page "/index"
@using System.Reactive.Subjects
@using System.Reactive.Linq
@inject ILogger<RxInteractiveSession> Logger

<h1>RxPlayground</h1>

<RxpCanvas Session="session" />

@code {
    private RxInteractiveSession? session;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        session = new(SystemTimeProvider.Instance, Logger);

        var subject = new Subject<string>()
            .Visualize("Subject");

        var timer = Observable.Timer(TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1))
            .Visualize("Timer");

        var combined = Observable
            .CombineLatest(
                subject,
                timer,
                (str, number) => $"{str}{number}")
            .Visualize("CombineLatest")
            .Publish()
            .Visualize("Publish")
            .RefCount()
            .Visualize("RefCount");

        session.DeclareSubscription(subject);
        session.DeclareSubscription(combined);
        session.DeclareSubscription(combined.Select(str => str + " :)"));

        Task.Run(async () =>
        {
            await Task.Delay(3000);
            subject.OnNext("X");
        });
    }
}