@page "/"
@using System.Reactive.Linq
@using System.Reactive.Subjects

@inject ILogger<PresentationPage> Logger

<Presentation>
    <Slide>
        <div class="demo-slide">
            <span class="title">
                <h1>Hello world</h1>
                <button @onclick="() => player!.TryStep()">Next Step</button>
            </span>

            <div class="code">
                <RxScenarioCodeView ScenarioPlayer="player" />
            </div>

            <div class="ui"></div>

            <div class="visualization">
                <RxpCanvas Session="player!.Session" />
            </div>
        </div>
    </Slide>
</Presentation>

@code {
    private RxScenarioPlayer? player;

    protected override void OnInitialized()
    {
        var scenario = RxScenario.Create(new[]
        {
            RxInstruction.DeclareObservable(out var subject,
                new Subject<string>()),

            RxInstruction.DeclareObservable(out var timer,
                Observable.Timer(TimeSpan.FromSeconds(1), TimeSpan.FromSeconds(1))),

            RxInstruction.DeclareObservable(out var combined,
                Observable
                    .CombineLatest(
                        subject,
                        timer,
                        (str, number) => $"{str}{number}")
                    .Publish()
                    .RefCount()),

            RxInstruction.Subscribe(combined),

            RxInstruction.DeclareObservable(out var withFace,
                combined.Select(str => str + " :)")),

            RxInstruction.Subscribe(withFace)
        });

        player = new RxScenarioPlayer(scenario, Logger);
    }
}