.controls {
    background: #eee;
    place-self: end center;
    z-index: 1;
    opacity: .33;
    transition: opacity .5s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    gap: 8px;
}

    .controls:hover {
        opacity: 1;
        transition: opacity .5s ease-out;
    }

.controls button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}