@page "/{SlideIndex:int?}"
@inject NavigationManager NavigationManager

<Presentation>
    @switch (SlideIndex)
    {
        case 0:
            <Slide_DebugSample />
            break;

        default:
            <Slide>
                No content.
            </Slide>
            break;
    }
</Presentation>

<div class="controls">
    <button @onclick="GoToPreviousSlide">←</button>
    <span>@SlideIndex</span>
    <button @onclick="GoToNextSlide">→</button>
</div>

@code {
    [Parameter]
    public int SlideIndex { get; set; } = 0;

    private void GoToNextSlide()
    {
        SlideIndex++;
        NavigationManager.NavigateTo($"/{SlideIndex}");
    }

    private void GoToPreviousSlide()
    {
        SlideIndex = Math.Max(0, SlideIndex - 1);
        NavigationManager.NavigateTo($"/{SlideIndex}");
    }
}